@functions {
    private DateTime FromUnixTime(long unixTime)
    {
        var epoch = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc);
        return epoch.AddMilliseconds(unixTime);
    }
}

@using System.Web.Mvc.Html
@using LolSite.Models

@{
    ViewBag.Title = "Summoner Summary";
}

<h2>Summoner Summary</h2>

<table border="1">
    <tr style="font-size: larger">
        <td align="center">Summary Type</td>
        <td align="center">Modify Date</td>
        <td align="center">Wins</td>
        <td align="center">Losses</td>
    </tr>
    @foreach (var stat in ViewBag.Data)
    {
        <tr>
            <td align="center">@stat.playerStatSummaryType</td>
            <td align="center">@FromUnixTime(stat.modifyDate)</td>
            <td align="center">@stat.wins</td>
            <td align="center">@stat.losses</td>
            <td>
                @Html.ActionLink("Additional Stats", "AggregatedStats", "SummonerSummary", (SummonerSummary.Aggregatedstats)stat.aggregatedStats, null)
            </td>
        </tr>
    }
    

</table>